body {
	font: 12px/1.7 Helvetica, Arial, Tahoma, sans-serif;
	color:#666666;
	-webkit-font-smoothing: antialiased;
	backgorund:#f6f4e7;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	margin-bottom:12px;
	font-weight:600;
}