@font-face {
  font-family:'Roboto';
  src:url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family:'Roboto';
  src:url("assets/fonts/Roboto-Regular.ttf");
  font-weight:300;
}
html {
  scroll-behavior:smooth; 
}
body {
	font-family:'Roboto';
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
* {
    box-sizing:border-box;
  }  
h1 {
	font:Roboto-Regular;
	font-weight:300;
	font-size:50px;
	color:#000000
}
h2 {
	font:Roboto-Regular;
	font-weight:300;
	font-size:30px;
}
h3 {
	font:Roboto-Regular;
	font-weight:300;
	font-size:20px;
}
p {
	font:Roboto-Regular;
	font-weight:300;
	font-size:15px;
}	
.container {
    max-width:1440px;
    margin:0 auto;
  }
.header {
	background:#d9d9d9; 
}
.header-logo {
	float:left;
	margin-bottom:10px;
	margin-top:100px;
}
.nav-list {
  list-style:none;
  display:flex;
  padding:0 20px;
  line-height:50px;
  justify-content:flex-end;
  align-items:center;
  font-weight:100;
}
.nav-item {
display:block;
padding:0 10px;
text-decoration:none;
}
.main {
background:#ffffff;
}
.main-container {
  display:flex;
  flex-wrap:wrap;
}
.section {
  width:50%;
  font-weight:300;
}
.section-title {
font-weight:300;
color:#b40f0f;
}
.footer {
	background:#d9d9d9;
	height:50px;
	margin-top:0;
}
hr {
	color:#c90303;
	width:20%;
	position:absolute;
}
.padding10 {
	padding-top:10px;
	font-size:0;
	line-height:0;
}
.padding20 {
	padding-top:20px;
	font-size:0;
	line-height:0;
}
.padding30 {
	padding-top:30px;
	font-size:0;
	line-height:0;
}
a:link, a:visited, a:active, a:focus {
	transition: .3s;
	text-decoration:none;
	outline:none;
	font:Roboto-Regular;
}
a {
	color:#b40f0f;
	font:Roboto-Regular;
}
a:hover {
	text-decoration:underline;
}
